<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Classes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header lines="full">
     <h2 style="font-weight: bold;">{{lessonTitle}}</h2>
     <h6 style="margin-top: 5px;">{{lessonDate | date: 'dd/MM/yyyy'}}</h6>
    </ion-list-header>

    <ng-container *ngIf="ebdClasses$ | async as ebdClasses; else loadingTemplate">
      <ion-item *ngFor="let class of ebdClasses" button detail lines="none" class="ion-margin" (click)="handleClassCick(class)">
        <h2>{{class['class_name']}}</h2>
      </ion-item>
    </ng-container>

    <ng-template #loadingTemplate>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-template>
  </ion-list>
</ion-content>
