<app-header
  [headerTitle]="'Alunos'"
  [headerMarginTop]="headerMarginTop"
  [searchbarOptions]="searchbarOptions"
  (refreshEvent)="getEbdStudents()"
  (searchEvent)="onFilterStudents($event)"
></app-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="onContentScroll($event)"
>
  <app-student-history
    [student]="selectedStudent"
    (dismissModalEvent)="selectedStudent=null"
  ></app-student-history>

  <ion-list *ngIf="ebdStudents$ | async as ebdStudents; else loadingTemplate">
    <ng-container *ngFor="let student of ebdStudents; let first = first">
      <ion-item *ngIf="!filteredName || student?.name?.toLowerCase()?.includes(filteredName?.toLowerCase())" button lines="full" (click)="selectedStudent = student">
        <ion-avatar slot="start">
          <img [src]="student?.picture || '/assets/img/person.png'" />
        </ion-avatar>
        <ion-label>
          <h3>{{student?.name}}</h3>
          <p>{{student?.ebd_class ? 'Classe ' + student?.ebd_class : 'Sem Classe'}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-template #loadingTemplate>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>