<app-header
  headerTitle="Alunos"
  [hideHeader]="hideHeader"
  (refreshEvent)="getEbdStudents()"
  [selectOptions]="loggedUserHasFullAccess ? { placeholder: 'Selecione uma classe', items: (ebdClasses$ | async), defaultAll: 'Todas as classes', choosedItem: loggedUserPreferredClass } : null"
  (selectEvent)="loggedUserHasFullAccess ? onSelectClass($event) : null"
  [searchbarOptions]="searchbarOptions"
  (searchEvent)="onFilterStudents($event)"
></app-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="onContentScroll($any($event))"
>
  <app-student-history-modal
    [student]="selectedStudent"
    [studentHistoryList]="ebdStudentHistoryList$ | async"
    (dismissModalEvent)="selectedStudent=null"
  ></app-student-history-modal>

  <ion-list *ngIf="ebdStudents$ | async as ebdStudents; else loadingTemplate">
    <app-student
      *ngFor="let student of ebdStudents"
      [student]="student"
      [show]="!filteredName || student?.name?.toLowerCase()?.includes(filteredName?.toLowerCase())"
      (selectStudentEvent)="onSelectStudent($any($event))"
    >
    </app-student>
  </ion-list>

  <ng-template #loadingTemplate>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>

  <!-- <ng-container *ngIf="ebdStudents$ | async as ebdStudents; else loadingTemplate">
    <ion-virtual-scroll [items]="ebdStudents" approxItemHeight="69px">
      <div *virtualItem="let item; let itemBounds = bounds;">
        <ion-item *ngIf="!filteredName || item?.name?.toLowerCase()?.includes(filteredName?.toLowerCase())" button lines="full" (click)="selectedStudent = item; getEbdStudentHistory(item.id)">
          <ion-avatar slot="start">
            <img [src]="item?.picture || '/assets/img/person.png'" />
          </ion-avatar>
          <ion-label>
            <h3>{{item?.name}}</h3>
            <p>{{item?.ebd_class ? 'Classe ' + item?.ebd_class : 'Sem Classe'}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll>
  </ng-container> -->
</ion-content>