<ion-header
  [translucent]="true"
  #header
>
  <app-header
    headerTitle="Pessoas"
    (refreshEvent)="getEbdStudents()"
    [selectOptions]="loggedUserHasFullAccess ? {
      placeholder: 'Selecione uma classe',
      items: (ebdClasses$ | async),
      defaultAll: 'Todas as classes',
      choosedItem: loggedUserPreferredClass
    } : null"
    (selectEvent)="loggedUserHasFullAccess ? onSelectClass($event) : null"
    [orderByOptions]="orderByOptions"
    (orderByEvent)="onChangeOrderBy($event)"
    [searchbarOptions]="searchbarOptions"
    (searchEvent)="onFilterStudents($event)"
  ></app-header>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  [appHideHeader]="header"
>
  <app-people-list
    *ngIf="ebdStudents$ | async as ebdStudents; else loadingTemplate"
    [ebdStudents]="ebdStudents"
    [filteredName]="filteredName"
    [orderById]="orderById"
  >
  </app-people-list>

  <ng-template #loadingTemplate>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>
