<ion-item
  *ngIf="show"
  style="height: 112px !important"
  button
  lines="full"
  (click)="selectStudentEvent.emit(student)"
>
  <ion-avatar
    slot="start"
    [ngClass]="{ 'birthday-person': student?.is_birthday_person }"
  >
    <img
      [src]="student?.picture || '/assets/img/person.png'"
      [alt]="student?.name"
    />
  </ion-avatar>
  <ion-label>
    <h3>{{ student?.name }}</h3>
    <p>
      {{ student?.ebd_class ? "Classe " + student?.ebd_class : "Sem Classe" }}
    </p>
    <p *ngIf="!student?.is_birthday_person; else isBirthdayPerson">
      {{
        student?.date_of_birth
          ? "Aniversário em " + student?.date_of_birth
          : "Sem Data de Aniversário"
      }}
    </p>
    <ng-template #isBirthdayPerson>
      <strong>{{ "Aniversário hoje" | uppercase }}</strong>
    </ng-template>
    <ion-text
      *ngIf="
        student?.frequency?.absences_in_sequence ||
          student?.frequency?.presences_in_sequence;
        else noEbdHistoryTemplate
      "
      [color]="student?.frequency?.absences_in_sequence ? 'danger' : 'success'"
    >
      <p>
        <ng-container *ngIf="student?.frequency?.absences_in_sequence > 1">
          {{ student?.frequency?.absences_in_sequence }} faltas seguidas
        </ng-container>
        <ng-container *ngIf="student?.frequency?.absences_in_sequence === 1">
          Faltou à última lição
        </ng-container>
        <ng-container *ngIf="student?.frequency?.presences_in_sequence === 1">
          Veio à última lição
        </ng-container>
        <ng-container *ngIf="student?.frequency?.presences_in_sequence > 1">
          {{ student?.frequency?.presences_in_sequence }} presenças seguidas
        </ng-container>
      </p>
    </ion-text>
    <ng-template #noEbdHistoryTemplate>
      <p>Sem histórico de chamada</p>
    </ng-template>
  </ion-label>

  <ng-container *ngIf="student?.whatsapp">
    <ion-icon
      slot="end"
      name="logo-whatsapp"
      color="success"
      (click)="
        $any($event)?.stopPropagation(); redirectToWhatsapp(student?.whatsapp)
      "
    ></ion-icon>

    <ion-icon
      slot="end"
      name="call"
      color="highlight"
      (click)="
        $any($event)?.stopPropagation(); redirectToCall(student?.whatsapp)
      "
    ></ion-icon>
  </ng-container>

  <ion-icon
    slot="end"
    name="ellipsis-horizontal-outline"
    color="gray"
    (click)="$any($event)?.stopPropagation(); openStudentOptions()"
  ></ion-icon>
</ion-item>
