ion-header {
    display: show;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
    transition: display 1s, opacity 1s linear;
}

ion-chip {
    font-size: 13px;
    text-align: center;
    word-break: break-all;

    @media screen and (min-width: 540px) {
        font-size: initial;
    }
}

.ion-chip-active {
    border: 1px solid var(--ion-color-light);
}

.orderby-section {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;

    @media screen and (min-width: 540px) {
        justify-content: flex-start;
    }
}