ion-header {
    display: show;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
    transition: display 0s, opacity 0s linear;
}

.ion-chip-active {
    border: 1px solid var(--ion-color-light);
}