<ion-progress-bar *ngIf="!analyticsPresenceCounts || !analyticsPresenceHistory?.length" type="indeterminate"></ion-progress-bar>

<ion-grid [hidden]="!analyticsPresenceCounts || !analyticsPresenceHistory?.length">
  <div class="ion-padding">
    <ion-row>
      <ion-col size-lg="12" class="ion-text-center ion-align-self-center">
        <app-analytics-overall-card
          [analyticsPresenceCounts]="analyticsPresenceCounts"
        ></app-analytics-overall-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="12">
        <app-analytics-history-card
          [analyticsPresenceHistory]="analyticsPresenceHistory"
        ></app-analytics-history-card>
      </ion-col>
    </ion-row>

    <app-date-selector
      (changeDateEvent)="updatePresenceClassesEvent.emit($any($event))">
    </app-date-selector>

    <ion-row class="ion-justify-content-center">
      <ng-container *ngIf="analyticsPresenceClasses?.length; else noPresenceClassesTemplate">
        <app-analytics-class
          *ngFor="let presenceClass of analyticsPresenceClasses"
          [presenceClass]="presenceClass"
        >
        </app-analytics-class>
      </ng-container>

      <ng-template #noPresenceClassesTemplate>
        Não há registros para essa data
      </ng-template>
    </ion-row>
  </div>
</ion-grid>