<ion-progress-bar *ngIf="!analyticsPresenceCounts || !analyticsPresenceHistory?.length" type="indeterminate"></ion-progress-bar>

<ion-grid [hidden]="!analyticsPresenceCounts || !analyticsPresenceHistory?.length">
  <div class="ion-padding">
    <ion-row>
      <ion-col size-lg="12" class="ion-text-center ion-align-self-center">
        <app-analytics-overall-card
          [analyticsPresenceCounts]="analyticsPresenceCounts"
        ></app-analytics-overall-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="12">
        <app-analytics-history-card
          [analyticsPresenceHistory]="analyticsPresenceHistory"
        ></app-analytics-history-card>
      </ion-col>
    </ion-row>

    <app-date-selector
      (changeDateEvent)="handleChangeDateEvent($event)"
    >
    </app-date-selector>

    <ion-row class="ion-justify-content-center">
      <ng-container *ngIf="analyticsPresenceClassInfos?.classes?.length; else noPresenceClassesTemplate">
        <ion-col *ngFor="let presenceClass of analyticsPresenceClassInfos.classes" size-lg="3" size-md="6" size-sm="12">
          <app-analytics-class
            [presenceClass]="presenceClass"
            [isBestFrequency]="presenceClass?.class_id === analyticsPresenceClassInfos?.best_frequency_class"
            [isWorstFrequency]="presenceClass?.class_id === analyticsPresenceClassInfos?.worst_frequency_class"
            [filterByPeriod]="filterByPeriod"
          >
          </app-analytics-class>
        </ion-col>
      </ng-container>

      <ng-template #noPresenceClassesTemplate>
        <div class="ion-padding-top">
          Não há registros para essa data
        </div>
      </ng-template>
    </ion-row>
  </div>
</ion-grid>