<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button *ngIf="(authService?.$user | async)?.fullAccess" tab="{{(authService?.$user | async)?.fullAccess ? 'analytics' : 'analytics/class'}}">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Indicadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lessons">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Lições</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Pessoas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
