ion-card-header {
    font-size: 16px;
    font-weight: bolder;
    color: var(--ion-color-primary);
}

ion-item-divider {
    font-size: 18px;
    font-weight: bolder;
    --color: var(--ion-color-light);
}

.card-content {
    font-size: 32px;
    font-weight: bolder;
}

@media screen and (max-width: 540px) {
    .card-content {
        font-size: 20px;
        font-weight: bolder;
    }
}