<ion-header>
  <ion-toolbar>
    <ion-title>Minha EBD</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form (ngSubmit)="login()" [formGroup]="credentialsFormGroup">
    <div class="input-group">
      <ion-item>
        <ion-input type="text" placeholder="Login" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="(username.dirty) && username.errors" class="errors">
        <span *ngIf="username.errors?.required">O login é obrigatório</span>
      </div>

      <ion-item>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" clearOnEdit="false" placeholder="Senha" formControlName="password"></ion-input>
        <ion-icon (click)="togglePasswordFieldType()" color="primary" [name]="isTextFieldType ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-item>
      <div *ngIf="(password.dirty) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">A senha é obrigatória</span>
        <span *ngIf="password.errors?.minlength">A senha precisa ter pelo menos 8 caracteres</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentialsFormGroup?.valid">Login</ion-button>
  </form>
</ion-content>