@media screen and (max-width: 540px) {
    .lesson-date {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .lesson-number {
        align-self: center;
        margin-top: 15px;
    }
}