<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h5>
        Olá, {{ (authService?.$user | async)?.name }}
      </h5>
      <h2>
        Lições
      </h2>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" slot="icon-only" color="light" (click)="logout()" size="large">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lições</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let lesson of ebdLessons$ | async; let first = first" button lines="full" (click)="handleLessonClick(lesson?.id)">
      <ion-label class="ion-text-wrap">
        <h2>{{lesson?.title}}</h2>
        <h3 class="lesson-date">{{lesson?.date | date: 'dd/MM/yyyy'}}</h3>
        <p *ngIf="lesson?.is_next_lesson">
          <ion-text color="success">Próxima lição</ion-text>
        </p>
        <ng-container *ngIf="!lesson?.is_next_lesson && (authService?.$user | async)?.fullAccess">
          <!-- <p *ngIf="lesson?.presence_records?.pending_calls?.length">
            <ion-text color="danger">{{lesson?.presence_records?.pending_calls?.length}} chamadas pendentes</ion-text>
          </p> -->
          <ion-chip outline color="success" style="height: auto;" (click)="showPresenceRecordsInfo('presents', lesson?.presence_records?.presents)">
            <ion-icon name="person-outline"></ion-icon>
            <ion-icon name="checkmark-outline"></ion-icon>
            <ion-label>{{lesson?.presence_records?.presents}}</ion-label>
          </ion-chip>
          <ion-chip outline color="danger" style="height: auto;" (click)="showPresenceRecordsInfo('absents', lesson?.presence_records?.absents)">
            <ion-icon name="person-outline"></ion-icon>
            <ion-icon name="close-outline"></ion-icon>
            <ion-label>{{lesson?.presence_records?.absents}}</ion-label>
          </ion-chip>
          <ion-chip outline color="dark" style="height: auto;" (click)="showPresenceRecordsInfo('pending', lesson?.presence_records?.pending)">
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-icon name="help-outline"></ion-icon>
            <ion-label>{{lesson?.presence_records?.pending}}</ion-label>
          </ion-chip>
        </ng-container>
      </ion-label>
      <ion-badge class="lesson-number" slot="end" color="primary">Lição nº {{lesson?.number}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
