@media screen and (max-width: 540px) {
    .lesson-date-on-top {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .lesson-number-on-top {
        align-self: center;
        margin-top: 1rem;
    }
}