<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>
        Registro de Chamada
      </h2>
      <h6>
        {{lessonDate | date: 'dd/MM/yyyy'}}
      </h6>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Chamada<</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ng-container *ngIf="{ ebdPresencesRegister: ebdPresencesRegister$ | async, ebdLabels: ebdLabels$ | async } as values">
    <ion-list>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap" style="margin-bottom: 0px;">
          <h2><strong>Classe {{className}}</strong></h2>
          <h3 style="font-weight: 400;">
            <span>{{lessonTitle}}</span>
            <span *ngIf="hasLessonEnded"> - Essa lição já terminou</span>
          </h3>
          <h3>{{values?.ebdPresencesRegister | studentsCount}} alunos nessa chamada</h3>
          <div style="display: flex; align-items: center;">
            <h3 style="margin-right: 8px;">{{visitorsQuantity}} {{visitorsQuantity === 1 ? 'visitante' : 'visitantes'}}</h3>
            <ion-button size="small" color="dark" fill="clear" (click)="increaseVisitorsQuantity()" [disabled]="hasLessonEnded">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" color="dark" fill="clear" (click)="decreaseVisitorsQuantity()" [disabled]="!visitorsQuantity || hasLessonEnded">
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button>
          </div>
          <!-- <ion-input type="number" [(ngModel)]="moneyRaised" (keyup)="moneyRaisedCheck()"></ion-input> -->
        </ion-label>
      </ion-item>

      <ng-container *ngIf="values?.ebdPresencesRegister?.length; else loadingTemplate">
        <ion-accordion-group [multiple]="false" animated="true" expand="compact">
          <app-student-presence
            *ngFor="let presenceRegister of values?.ebdPresencesRegister"
            [presenceRegister]="presenceRegister"
            [ebdLabels]="values?.ebdLabels"
            [hasLessonEnded]="hasLessonEnded"
            [lessonId]="lessonId"
            [classId]="classId"
            (expandAccordionEvent)="expandAccordion($any($event))"
            (collapseAccordionEvent)="collapseAccordion()"
          ></app-student-presence>
        </ion-accordion-group>
      </ng-container>

      <ng-template #loadingTemplate>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ng-template>
    </ion-list>
  </ng-container>
</ion-content>
