<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>
        Registro de Chamada
      </h2>
      <h6>
        {{lessonDate | date: 'dd/MM/yyyy'}}
      </h6>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Chamada<</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <h2><strong>Classe {{className}}</strong></h2>
        <h3 style="font-weight: 400;">{{lessonTitle}}</h3>
      </ion-label>
    </ion-item>

    <ion-accordion-group>
      <ion-accordion *ngFor="let presenceRegister of ebdPresencesRegister$ | async">
        <ion-item slot="header" lines="none">
          <ion-label class="ion-text-wrap">
            <h2>{{presenceRegister['student_name']}}</h2>
            <h5 *ngIf="presenceRegister['register_on']">
              <span *ngIf="presenceRegister?.attended">Chegou às {{presenceRegister['register_on'] | date: 'HH:mm'}}</span>
              <span *ngIf="!presenceRegister?.attended">Recebeu falta em {{presenceRegister['register_on'] | date: 'dd/MM/yyyy HH:mm'}}</span>
            </h5>
          </ion-label>
          <ion-button style="margin-right: 5px;" color="success" size="default" [fill]="presenceRegister?.attended && presenceRegister?.register_on ? 'solid' : 'clear'" (click)="givePresence(presenceRegister); $event.stopPropagation()" [disabled]="presenceRegister?.underAction">
            <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <ion-button style="margin-left: 5px;" color="danger" size="default" [fill]="!presenceRegister?.attended && presenceRegister?.register_on ? 'solid' : 'clear'" (click)="giveAbsence(presenceRegister); $event.stopPropagation()" [disabled]="presenceRegister?.underAction">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item lines="full">
            <ion-label class="ion-text-wrap ion-text-center">
              <ion-chip style="height: auto;" color="success" [outline]="presenceRegister['broughtBible'] === false" (click)="giveCharacteristic(presenceRegister, 'broughtBible', true)">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Trouxe Bíblia</ion-label>
              </ion-chip>

              <ion-chip style="height: auto;" color="success" [outline]="presenceRegister['broughtMagazine'] === false" (click)="giveCharacteristic(presenceRegister, 'broughtMagazine', true)">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Trouxe Revista</ion-label>
              </ion-chip>
              
              <ion-chip style="height: auto;" color="success" [outline]="presenceRegister['punctual'] === false" (click)="giveCharacteristic(presenceRegister, 'punctual', true)">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Pontual</ion-label>
              </ion-chip>
  
              <ion-chip style="height: auto;" color="success" [outline]="presenceRegister['participatory'] === false" (click)="giveCharacteristic(presenceRegister, 'participatory', true)">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Participativo</ion-label>
              </ion-chip>
  
              <ion-chip style="height: auto;" color="success" [outline]="presenceRegister['collaborative'] === false" (click)="giveCharacteristic(presenceRegister, 'collaborative', true)">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Colaborativo</ion-label>
              </ion-chip>

              <ion-chip style="height: auto;" color="danger" [outline]="presenceRegister['punctual'] === true" (click)="giveCharacteristic(presenceRegister, 'punctual', false)">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                <ion-label>Atrasado</ion-label>
              </ion-chip>

              <ion-chip style="height: auto;" color="danger" [outline]="presenceRegister['participatory'] === true" (click)="giveCharacteristic(presenceRegister, 'participatory', false)">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                <ion-label>Não participativo</ion-label>
              </ion-chip>

              <ion-chip style="height: auto;" color="danger" [outline]="presenceRegister['collaborative'] === true" (click)="giveCharacteristic(presenceRegister, 'collaborative', false)">
                <ion-icon name="thumbs-down-outline"></ion-icon>
                <ion-label>Descompromissado</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
