/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// global.scss
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 16px !important;
}

ion-tab-button ion-label {
    font-size: 16px !important;
}

.toast-controller {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

ion-progress-bar {
    height: 6px;
}

ion-searchbar {
    .searchbar-input-container {
        input{
            border-radius: 5px !important;
        }
    }
}

ion-item:has(ion-select) {
    border-radius: 5px !important;
}

.birthday-person {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%) border-box;
    border-radius: 100%;
    border: 4px solid transparent;
}

// ion-content {
//    --background: var(--ion-color-primary);
//    --color: var(--ion-color-primary-contrast);
// }

// ion-toolbar {
//     --background: var(--ion-color-primary);
//     --color: var(--ion-color-primary-contrast);
// }

// ion-card {
//     --background: var(--ion-color-primary);
//     --color: var(--ion-color-primary-contrast);
// }

// ion-item {
//     --background: var(--ion-color-primary);
//     --color: var(--ion-color-primary-contrast);
// }