<ion-card>
  <ion-item-group>
    <ion-item-divider [ngStyle]="{'background': isBestFrequency ? 'var(--ion-color-success)' : (isWorstFrequency ? 'var(--ion-color-danger)' : 'var(--ion-color-light)')}">
      <span style="position: absolute; left: 16px;">
        <ion-text color="{{isBestFrequency || isWorstFrequency ? 'light' : 'dark'}}">
          {{presenceClass?.class_name | uppercase}}
        </ion-text>
      </span>
      <span style="position: absolute; right: 8px;">
        <ion-text color="{{isBestFrequency || isWorstFrequency ? 'light' : 'dark'}}">
          <!-- {{presenceClass?.frequency | percent:'1.0-1'}} -->
          {{presenceClass?.frequency + '%'}}
        </ion-text>
        <span *ngIf="isBestFrequency" style="margin-left: 8px">
          <ion-icon name="arrow-up-circle-outline" color="light"></ion-icon>
        </span>
        <span *ngIf="isWorstFrequency" style="margin-left: 8px">
          <ion-icon name="arrow-down-circle-outline" color="light"></ion-icon>
        </span>
      </span>
    </ion-item-divider>
  
    <ion-item lines="none">
      <ion-label>Matriculados</ion-label>
      <ion-note slot="end" color="primary">
        <ion-text style="font-size: 24px">
          {{presenceClass?.registered}}
        </ion-text>
      </ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Presentes</ion-label>
      <ion-note slot="end" color="success">
        <ion-text style="font-size: 24px">
          {{presenceClass?.presences}}
        </ion-text>
      </ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Ausentes</ion-label>
      <ion-note slot="end" color="danger">
        <ion-text style="font-size: 24px">
          {{presenceClass?.absences}}
        </ion-text>
      </ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Visitantes</ion-label>
      <ion-note slot="end" color="dark">
        <ion-text style="font-size: 24px">
          {{presenceClass?.visitors || 0}}
        </ion-text>
      </ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Revistas</ion-label>
      <ion-note slot="end" color="dark">
        <ion-text style="font-size: 24px">
          {{presenceClass?.magazines}}
        </ion-text>
      </ion-note>
    </ion-item>
  </ion-item-group>
</ion-card>